services:
  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "{{ http_port }}:80"
{% if mount_html %}
    volumes:
      - ./html:/usr/share/nginx/html:ro
{% endif %}
    container_name: nginx-stack