image: docker:20.10.16

variables:
  APP_NAME: petshop-app
  KUBE_NAMESPACE: default
  DOCKER_DRIVER: overlay2

stages:
  - test
  - build
  - deploy

# ==================================
# Тестування
# ==================================
run-tests:
  stage: test
  image: python:3.9-slim
  before_script:
    - apt-get update && apt-get install -y curl iproute2
    - curl -4 -I https://registry-1.docker.io/v2/ || true
  script:
    - echo "Запуск юніт-тестів..."
    - export SKIP_DB_CONNECT=1
    - pip install --no-cache-dir -r requirements.txt
    - python -m unittest discover -s tests
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

# ==================================
# Збірка Docker-образу (через socket)
# ==================================
build-image:
  stage: build
  image: docker:20.10.16
  before_script:
    - apk add --no-cache curl
  script:
    - echo "Логін у Docker Hub..."
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - echo "Збірка Docker-образу..."
    - |
      docker build \
        -t "$DOCKERHUB_USERNAME/$APP_NAME:$CI_COMMIT_SHORT_SHA" \
        -t "$DOCKERHUB_USERNAME/$APP_NAME:latest" \
        .
    - echo "Надсилаю образ у Docker Hub..."
    - docker push "$DOCKERHUB_USERNAME/$APP_NAME:$CI_COMMIT_SHORT_SHA"
    - docker push "$DOCKERHUB_USERNAME/$APP_NAME:latest"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

# ==================================
# Розгортання у Kubernetes
# ==================================
deploy-k8s:
  stage: deploy
  image: alpine:3.20
  before_script:
    - apk add --no-cache curl bash kubectl coreutils
    - echo "Встановлюю yq..."
    - curl -L https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -o /usr/local/bin/yq
    - chmod +x /usr/local/bin/yq
    - yq --version
    - echo "Налаштовую kubeconfig..."
    - echo "Kubeconfig шлях $KUBECONFIG_FILE"
    - export KUBECONFIG="$KUBECONFIG_FILE"
    - kubectl cluster-info
    - kubectl get nodes
  script:
    - echo "Оновлення Docker-образу у маніфесті..."
    - yq e -i ".spec.template.spec.containers[0].image = \"${DOCKERHUB_USERNAME}/${APP_NAME}:${CI_COMMIT_SHORT_SHA}\"" k8s/04-app-deployment.yaml
    - echo "Розгортання у кластер..."
    - kubectl apply -f k8s/
    - kubectl rollout status deployment/petshop-app-deployment --timeout=600s
    - kubectl get pods 
    - kubectl get services
    - kubectl get pvc
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
